<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/me.css"/>
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(3)" class="ui inverted attached segment m-padded-tb-mini m-shaow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="m-item right icon item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="search...."/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class=" m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">分类</h3>
                </div>
                <div class="right aligned column ">
                    共<h3 class="ui orange header m-inline-blok m-text-thin" th:text="${#arrays.length(tags)}"> 14 </h3>个
                </div>
            </div>
        </div>
        <!--label-->
        <div class="ui attached segment m-padded-tb-large">
            <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing large label m-margin-tb-tiny" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag:${tags}">
                <span th:text="${tag.name}">方法论</span><i class="detail" th:text="${#arrays.length(tag.blogs)}">23</i>
            </a>

            <!--/*-->
            <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                方法论<i class="detail">23</i>
            </a>
            <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                方法论<i class="detail">23</i>
            </a>
            <a href="#" target="_blank" class="ui basic left pointing large label m-margin-tb-tiny">
                方法论<i class="detail">23</i>
            </a>
            <!--*/-->
        </div>
        <!--content-->
        <div class="ui top attached teal segment">
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-zw-clear" th:each="blog:${page.content}">
                <div class="ui middle aligned mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>
                        <!--thymeleaf语法：拼接字符串使用 |字符串|-->
                        <p class="m-text" th:text="|${blog.description}...|">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui grid">
                            <div class="eleven wide column">
                                <div class="ui mini horizontal link list">
                                    <div class="item">
                                        <img src="https://picsum.photos/id/1005/800/450" alt=""
                                             class="ui avatar image" th:src="@{${blog.user.avatar}}"><!--取链接地址如href,src时，使用@-->
                                        <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">lrm</a></div>
                                    </div>
                                    <div class="item">
                                        <i class="calendar alternate outline icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-10</span><!--格式化日期-->
                                    </div>
                                    <div class="item">
                                        <i class="eye icon"></i><span th:text="${blog.views}">3400</span>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column right aligned">
                                <a href="#" target="_blank"
                                   class="ui teal basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>

                        <!--标签-->
                        <div class="row">
                            <div class="column">
                                <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic left pointing label m-padded-mini m-text-thin" th:classappend="${tag.id==activeTagId} ? 'teal'" th:each="tag:${blog.tags}" th:text="${tag.name}">方法论</a>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" th:src="@{${blog.firstPicture}}" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>

            <!--/*-->
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-zw-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3>你真的理解什么是财富自由吗？</h3>
                        <p class="m-text">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/800/450" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">lrm</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="clander"></i>2017-10-10
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>3400
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#"
                                       class="ui teal basic left pointing label m-padded-tiny m-text-thin">方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-zw-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3>你真的理解什么是财富自由吗？</h3>
                        <p class="m-text">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/800/450" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">lrm</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="clander"></i>2017-10-10
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>3400
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#"
                                       class="ui teal basic left pointing label m-padded-tiny m-text-thin">方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large m-mobile-zw-clear">
                <div class="ui mobile reversed stackable grid">
                    <div class="eleven wide column">
                        <h3>你真的理解什么是财富自由吗？</h3>
                        <p class="m-text">
                            正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                        <div class="ui stackable grid">
                            <div class="row">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/id/1005/800/450" alt=""
                                                 class="ui avatar image">
                                            <div class="content"><a href="#" class="header">lrm</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="clander"></i>2017-10-10
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i>3400
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column right aligned">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">认知升级</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="#"
                                       class="ui teal basic left pointing label m-padded-tiny m-text-thin">方法论</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="five wide column">
                        <a href="#" target="_blank">
                            <img src="https://picsum.photos/id/1005/800/450" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <!--*/-->
        </div>
        <!--footer-->
        <div class="ui bottom attached segment" th:if="${page.totalPages>1}">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 th:href="@{/(page=${page.number}-1)}"  class="ui teal basic button" th:unless="${page.first}">上一页</h3>
                </div>
                <div class="right aligned column ">
                    <h3 th:href="@{/(page=${page.number+1})}" class="ui teal basic button" th:unless="${page.last}">下一页</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui divided inverted stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <img src="../wechat.jpg" class="ui rounded image" alt="" style="width:100px">
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email：lirenmi@163.com</a>
                    <a href="#" class="item">QQ：865729312</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2016 - 2017 Lirenmi Designed by Lirenmi</p>
    </div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    $(".menu.toggle").click(function () {
        $(".m-item").toggleClass("m-mobile-hide");
    });

    $("#payButton").popup({
        popup: $(".payQR.popup"),
        on: "click",
        position: "bottom center"
    });
</script>
</body>
</html>
