*{
	margin: 0 auto;
	padding: 0;
}
.head{
	width: 100%;
	height: 60px;
	position:fixed;
	top: 0;
	background-color: white;
	border-bottom: 1px solid #FBFBFB;
}
.head-font{
	width: 100px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 24px;
	color: #EC6B50;
	float: left;
}
.head-font-style{
	width: 300px;
	height: 60px;
	position: absolute;
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	left: 150px;
}
.head-font-style li{
	width: 100px;
	height: 60px;
	float: left;
	list-style: none;
}
.head-sy{
	color: #EC6B50;
	cursor: pointer;
}
.head-xz{
	cursor: pointer;
}
.head-xz:hover{
	background:#FBFBFB ;
}

.head-input{
	width: 240px;
	height: 60px;
	line-height: 35px;
}
.head-search{
	width: 240px;
	height: 35px;
	float: left;
	margin-top: 13px;
	border-radius: 35px;
	margin-bottom: 0;
    padding: 4px 20px 4px 15px;
    border: none;
    background-color: hsla(0,0%,71%,.3);
    vertical-align: middle;
    position: relative;
}
.head-input-p{
	width: 27px;
	height: 27px;
	border-radius: 25px;
	background: gray;
	position: fixed;
	margin-left: -30px;
	margin-top: 17px;
	z-index: 1;
	cursor: pointer;
}
.td-img{
	width: 18px;
	height: auto;
	margin-top: 5px;
	margin-left: 2px;
}




.head-font-style-right{
	width: 500px;
	height: 60px;
	float: right;
	color: gray;
}
.head-font-style-right a{
	text-decoration: none;
	color: gray;
}
.head-font-style-right li{
	width: 90px;
	height: 60px;
	cursor: pointer;
	list-style: none;
	float: left;
	text-align: center;
	line-height: 60px;
	display: block;
}
/*beta*/
.head-font-style-right img{
	width: 60px;
	height: auto;
	margin-top: 15px;
}

/*ע�ᡢд���°�ť*/
.head-register{
	width: 80px;
	height: 35px;
	border-radius: 35px;
	margin-top: 10px;
	line-height: 35px;
	border:1px solid orangered;
	color: #EC6B50;
}
.head-register a{
	color: #EC6B50;
}
.head-register:hover{
	background-color: rgba(254, 188, 174, 0.1);
}
.head-writebook{
	width: 80px;
	height: 35px;
	border-radius: 35px;
	margin-top: 10px;
	line-height: 35px;
	background: #EC6B50;
	color: white;
}
.head-writebook a{
	color: white;
}
.head-writebook:hover{
	background-color:#F35F40;
}

.head-li-img>img{
	width: 45px;
	height: 45px;
	margin-top: 10px;
	border-radius: 35px;
}
.head-li-img:hover{
	background: #FBFBFB;
}

.head-erji{
	display: none;
	background: white;
	color: black;
	margin-top: -18px;
	
}

.head-erji li{
	display: block;
	width: 100px;
	height: 30px;
	padding:10px 10px 10px 50px;
	text-align: left;
	padding-left: 60px;
	list-style: none;
	line-height: 30px;
	background: white;
	box-shadow: 1px 8px 8px gray;	
}
.head-erji li:hover{
	background: #FBFBFB;
}
.head-li-img:hover ul{
	display: block;
}

.head-erji li img{
	width: 20px;
	height: auto;
	float: left;
	margin-left: -40px;
	margin-top: 5px;
	position: relative;
}
.head-erji a{
	color: black;
	text-decoration: none;
}






.body{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
.body-img{
	width: 1000px;
	height: 370px;
	background-image: url(../img/L2.png);
	background-size: 100%;
	margin-top: 60px;
}
.body-letf{
	width: 700px;
	height: auto;
	float: left;

}
.body-right{
	width: 300px;
	height: auto;
	float: left;
	
	
}
.body-list{
	width: 700px;
	height: 150px;
	border-bottom: 1px solid gray;
}
.body-list-font{
	width: 500px;
	height: 130px;
	float: left;
	margin-top: 20px;

}
.body-list-font>a{
	font-size: 18px;
	color: black;
	margin-top: 40px;
	text-decoration: none;
}
.body-list-font>a:hover{
	text-decoration: underline;
}
.body-list-font>p{
	font-size: 12px;
	color: gray;
	line-height: 24px;
	margin-top: 10px;
}

.body-list-img{
	width: 200px;
	height: 150px;
	float: right;
}
.body-list-img>img{
	width: 150px;
	height: 100px;
	border-radius: 5px;
	margin-top: 15px;
	margin-left: 10px;
}

.body-right-head{
	width: 300px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: gray;
}
.body-right-head>p{
	float: left;
}
.body-right-head>a{
	float: right;
	color: gray;
	text-decoration: none;
}
.body-right-list{
	width: 300px;
	height: 60px;
}
.body-right-list-font{
	width:220px;
	height:60px;
	float: left;
	margin-left: 30px;
	margin-top: 10px;
	line-height: 20px;
	font-size: 12px;
	color: gray;
}

.body-right-list-gz>a{
	width: 50px;
	height: 60px;
	float: right;
	color: green;
	line-height: 50px;
	text-decoration: none;
}
.bottom-yd{
	width: 1000px;
	height: auto;

}
.bottom-jz{
	width: 680px;
	height: auto;
	float: left;
	margin-left: 15px;
	border-radius: 35px;
	text-align: center;
	line-height: 50px;
	color: white;
	background:darkgrey;
	cursor: pointer;
}
.bottom-jz:hover{
	background:gray;
}

.bottom-ck{
	width: 290px;
	height: 40px;
	position: inherit;
	border-radius: 5px;
	border: 1px solid darkgray;
	text-align: center;
	line-height: 40px;
	margin-top: 3px;
	color: grey;
	background:gainsboro;
	cursor: pointer;
}

